<section>
  <div class="wrapper event-info">

    {% if page.lanyrd_short_url %}
      <div class="lanyrd">       
        <a href="https://www.eventbrite.com/e/oxford-geek-nights-36-geek-is-good-tickets-11582817519" class="button fat" target="_blank">Register on Eventbrite</a>
        <!--<h2>On Lanyrd</h2>-->
      </div>
    {% endif %}
   
    {% comment %}
    <div class="venue" itemprop="location" itemscope itemtype="http://schema.org/Place">
      <h2 itemprop="name">{{ page.short_address }}</h2>
      <a class="link-fat" href="{{ page.map_url }}" itemprop="url">View map</a>
    </div>
    {% endcomment %}
  </div>
</section>
