<section class="connect">
  <div class="wrapper league">
    <div class="newsletter">
    <h2>Join the mailing list</h2>
    <form action="http://groups.google.com/group/oxford-geek-nights/boxsubscribe">
      <input type="email" name="email" placeholder="Your email address" />
      <input type="submit" value="sign up" />
    </form>
    </div>
    <ul>
      {% if page.geek_night_number %}
        <li class="hashtag">#ogn{{ page.geek_night_number }}</li>
      {% endif %}
      <li>
        <h2>Follow us on Twitter</h2> 
        <a href="http://twitter.com/oxfordgeeks" class="link-fat twitter-handle">@oxfordgeeks</a>
      </li>
    </ul>
  </div>
</section>