/*
 * CONTENTS
 */

/*

- Colour definitions
- Basic html
- Webfonts
- Helper classes
- Buttons
- Generic layout/width/alignment
- Header
- Speaker listings
- Social
- Sponsors
- About
- Past events
- Media queries

*/


/*
 * COLOURS
 */

/*

#F5D236 Yellow
#DF532D Red

*/



/*
 * BASIC HTML
 */

html,
button,
input,
select,
textarea {
  color: #222;
}

body {
  font-size: 1em;
  line-height: 1.4;
  color: #4d4547;
  -webkit-font-smoothing:antialiased;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

img {
    vertical-align: middle;
}


fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}


a:link,
a:visited {
  color: #2ec6f5; 
  text-decoration: none;
}

a:hover,
a:active {
  color: #1aa9d5;
}

.button, input[type="submit"]{
  background-color: #6dc0ea;
  color: #fff;
  border: none;
  font-size: 1.313em;
  -moz-border-radius: 0.125em;
  -webkit-border-radius: 0.125em;
  text-transform: uppercase;
  display: inline-block;
  width: inherit;
}

ul, li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

h1,h2,h3,h4,h5,h6,p {
  padding: 0;
  margin: 0;
}

h1,h2,h3,h4,h5,h6 {
  text-transform: uppercase;
  font-weight: normal;
}

h1 {
  text-transform: uppercase;
  font-size: 3em;
}

p {
  font-family: "open-sans",sans-serif;
  font-style: normal;
  font-weight: 400;
  margin: 0 0 1.5em 0;
  padding: 0;
  font-size: 1em;
  color: #444;
  line-height: 1.6;
  letter-spacing: -0.01em;
}


input {
  font-size: 0.75em;
  width: 100%;
  border: none;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
     -moz-box-sizing: border-box;    /* Firefox, other Gecko */
          box-sizing: border-box;         /* Opera/IE 8+ */
  padding: 1em;
  margin-bottom: 0.75em;
  vertical-align: top;
}

/* 
 * WEBFONTS
 */

h1, h2, h3, h4, h5, h6,
input[type="submit"],
.header,
.button,
.league, 
.link-fat{
  font-family: "league-gothic", Arial Narrow, sans-serif;
  text-transform:uppercase;
}

body, 
p{
  font-family: "open-sans",sans-serif;
}


/*
 * HELPER CLASSES
 */

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
}

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 100%;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

  .visuallyhidden.focusable:active,
  .visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
  }

.invisible {
  visibility: hidden;
}

.clearfix:before,
.clearfix:after {
  content: " "; 
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}


/*
 * BUTTONS
 */

a.button,
.button,
input[type="submit"] {
  background-color: #F5D236;
  color: #fff;
  font-size: 1.313em; 
  text-transform: uppercase;
  padding: 0.28em 0.5em;
  -webkit-border-radius: 0.15em;
     -moz-border-radius: 0.15em;
          border-radius: 0.15em;
  
  -webkit-transition: .10s background ease-in-out;
     -moz-transition: .10s background ease-in-out;
          transition: .10s background ease-in-out;
}

.button.fat {
  padding: 0.125em 0.375em;
  font-size: 3em;
  display: inline-block;
  margin-bottom: 0.5em;

}


a:hover.button,
.button:hover,
input[type="submit"]:hover {
  background-color: #F5D236;
  -webkit-transition: .10s background ease-in-out;
       -moz-transition: .10s background ease-in-out;
            transition: .10s background ease-in-out;
}


a.link-fat {
  color: #6dc0ea;
  font-size: 4em;
  text-transform: uppercase;
  line-height: 1em;
  -webkit-transition: .10s color ease-in-out;
     -moz-transition: .10s color ease-in-out;
          transition: .10s color ease-in-out;
}

a:hover.link-fat {
  color: #1aa9d5;
  -webkit-transition: .10s color ease-in-out;
       -moz-transition: .10s color ease-in-out;
            transition: .10s color ease-in-out;
}


/*
 * GENERIC LAYOUT/WIDTH/ALIGNMENT
 */

.wrapper {
  margin: 0 auto;
  width: 90%;
  max-width: 61.5em;
  position: relative;
  text-align: center;
  overflow: hidden;
}

.event-info, .sponsor, .speakers{
  max-width: 30em;
  margin: 0 auto;
}

.lanyrd {
  padding: 1.5em 0 0 0;
}

.lanyrd{

}
.vertically-padded{
  padding:4em 0;
}


/*
 * HEADER
 */

.header {
  background: #4D4547 url("../images/main.jpg");
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  background-position: center center;
  text-align: center;
  color: #F5E290;
  padding: 1.5em 0 3em 0;
}

  .header a {
    color: white;
  }

  .header .venue a {
    color: white;
    border-bottom: 1px dotted #999999;
    padding: 0.25em 0.5em 0.25em 0.5em;
  }

  .header .venue a i {
    color: #ff653f;
  }

  .header .venue a:hover {
    background: white;
    color: #ff653f;
    border-bottom: 1px solid #ff653f;
  }

  .tbx-link { 
    text-indent: -9999%;
    height: 28px;
    width: 120px;
    display: inline-block;
    background: transparent url("../images/torchbox-sprite.png") top left no-repeat;
    background-size: 120px 66px;
    margin: 0 auto 1em;
  }
  
  .tbx-link:hover {
    background-position-y: -37px;
  }

  .header .date-time,
  .header .venue {
    font-size: 1.75em;
    color: #fff;
    text-transform: none;
  }

  .header .venue {
    font-size: 1em;
    font-family: "open-sans",sans-serif;
  }

  .header .date-time {
    font-size: 2em;
    margin: 0 0 0.25em 0;
  }

  .header .event-number {
    font-size: 5em;
    color: #F5D236;
    display: block;
    line-height: 0.8em;
  }


/*
 * SPEAKER LISTINGS
 */

.speakers li{
  padding: 2em;
}

.microslots li{
  border-bottom: 1px dotted #ccc;
  border-top: 1px dotted #ccc;
}
  .speakers p {
    margin:0 0 0.75em 0;
  }

  .speakers a:link,
  .speakers a:visited {
    color: #DF532D;
  }

  .speakers a:hover,
  .speakers a:active {
    color: #c03510;
  }

  .speakers h2 {
    font-size: 2em;
    line-height: 1em;
    display: inline-block;
    margin-bottom: 6px;
  }

    .keynotes {
      margin: 1em 0 0 0;
      display: block;
      overflow: hidden;
    }

    .keynotes h2 {
      font-size: 2.5em;
    }

    .keynotes p {
      font-size: 1.2em;
      line-height: 1.2;
    }

    .keynotes li {
      display: block;
      width: 100%;
      float: none;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      padding-bottom: 3em;
    }

    .keynotes li:first-child {
      margin-left: 0;
    }

  .speakers a h2,
  .speakers h2 a:link {
    color: #4d4547;
    border-bottom: 1px dotted #4d4547;
    padding: 0 0.15em;
    margin-bottom: 0.15em;
  }

  .speakers a:hover h2 {
    color: #ff653f;
    border-bottom: 1px solid #ff653f;
  }

  .speakers a.button:hover,
  .speakers a.button:active { 
    background-color:  #c03510;
  }

.downloads {
  margin: 0.25em auto 0;
  height: 1em;
}
  .downloads a:link,
  .downloads a:visited {
    color: #ff653f;
    border: 1px solid #ff653f;
    background-color:white;
    padding:2px 5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
     font-size: 0.75em;
    text-transform: uppercase;
  }

  .downloads a:hover,
  .downloads a:active {
    color: white;
    background-color:#ff653f;
    border: 1px solid #ff653f;
  } 


/*
 * SOCIAL 
 */

.connect {
  margin-top:3em;
  background-color: #edeced;
  padding: 1em 0;
}
  .connect li {
    display: inline-block;
    padding: 2%;
    line-height: 1em;
    vertical-align: middle;
  }
    .connect li h2 {
      margin: 0.4em 0 0 0;
    }

.hashtag {
  font-size: 4em;
  text-transform: uppercase;
}

.newsletter {
  margin: 0.750em;
  display: block;
}

  .newsletter form {
    display: inline-block;
  }

  .newsletter h2 {
      font-size: 2em;
      display: block;
      margin: 1em 0 0 0;
  }

  .newsletter input[type="email"] {
    display: inline-block;
    width: inherit;
    width: 240px;
    font-size: 1.1em;
    margin-top: 0;
    text-align: center;
  }

  .newsletter input[type="submit"] {
    font-size: 1.2em;
    text-align: center;
    height: 56px;
    margin-top: 0;
  }


/*
 * SPONSORS
 */
 
.sponsor {
  text-align: center;
}

.sponsor h3{
  color: #999;
  letter-spacing: 0.25em;
  font-size: 1em;
  display: block;
  margin-right: 0.5em;
}

.sponsor img:first-child {
  margin: 0 2em 0 0;
}

  .sponsor img {
    max-width: 160px;
    text-align: center;
  }

/*
 * ABOUT
 */

.description p {
  text-align: center;
  margin: 0 auto;
}
.description p:first-child {
  max-width: none;
  margin-bottom: 0.5em;
  font-size: 1.4em;
  line-height: 1.5em;
}

.description p:last-child {
  max-width: 28em;
  font-size: 1em;
  margin-bottom: 1em;
}

.about {
  background-color: #ff653f;
  color: #fff;
  padding: 3em 0;
}

.about p {
  color: #fff;
}

.speak .button {
  background-color: #ff653f;
  color: #fff;
  width: auto;
  border: 1px solid white;
  overflow: auto;
  font-size: 1.5em;
}

.speak .button:hover {
  color: #ff653f;
  background: white;
}



/*
 * PAST EVENTS
 */


.past-events {
  background-color: #4C4446;
  background: #4D4547 url("../images/past2.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #fff;
}


  .past-events h2 {
    font-size: 3.125em; 
    margin: 0.5em 0 0.5em 0;   
  }

  .past-events ul {
    font-size: 0;
    overflow: hidden;
    padding: 0 3.3%;
  }
    .past-events li {
      font-size: 16px;
      width: 100%;
      display: inline-block;
      color: #4d4547;
      text-align: center;
      margin-bottom: 0.75em;
      vertical-align: top;
      -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
             border-radius: 3px;
    }
  .past-events a {
    min-height:130px;
    color: #2ec6f5;
    padding: 0.75em;
    display: block;
    -webkit-transition: .10s color ease-in-out;
       -moz-transition: .10s color ease-in-out;
            transition: .10s color ease-in-out;
    background-color: #fff;
    background-color: rgba(255,255,255,0.95);

  }

    .past-events a:hover {
      color: #1aa9d5;
      -webkit-transition: .10s color ease-in-out;
           -moz-transition: .10s color ease-in-out;
                transition: .10s color ease-in-out;
        background-color: rgba(255,255,255,1);

    }

    .past-events .event-number {
      font-size: 3em;
      line-height:1em;
      display: block;
      color: #F5D236;
    }

    .past-events .speakers {
      font-size: 1.5em;
      display: block;
      overflow: hidden;
      width: 100%;
      color: #ff653f;
      line-height: 1em;    
    }

    .past-events .date {
      color: #4d4547;
      font-size: 1.35em;
      text-transform: none;
    }





/*
 * 404 page
 */
#downloadfound, #downloadnotfound{
  display:none;
}



/*
 * MEDIA QUERIES
 */

@media only screen and (min-width: 1024px) {

  .header{
    background-image: url("../images/main.jpg");
    background-position: center center;
    background-repeat: no-repeat;
  }

  h1 {
    font-size: 7em;
    position: relative;
  }


  .header .date-time {
    font-size: 4em;
    margin: 0 0 0.25em 0;
  }

  .header .venue {
    font-size: 1.3em;
    font-family: "open-sans",sans-serif;
  }

  .speakers {
    max-width: 54em;
  }

  .speakers h2{
    font-size: 2em;
  }

  .keynotes {
    margin: 2em 0 2em 0;
    display: block;
    overflow: hidden;
  }


  .keynotes h2 {
    font-size: 3.7em;
  }

  .keynotes p {
    font-size: 1.2em;
  }

  .keynotes li {
    display: block;
    width: 48.5%;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-right: 3%;
    padding-bottom: 3em;
    position: relative;
    height: 12em;
  }

    .keynotes li:nth-child(2n+2) {
      margin-right: 0;
    }

  .microslots {
    margin: 0 0 2em 0;
    display: block;
    overflow: hidden;
   } 

  .microslots li {
    display: block;
    width: 22.7%;
    float: left;
    padding: 2em 1em;
    min-height: 13em;
    border-bottom: 1px dotted #ccc;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: 3%;
  }

    .microslots li:first-child {
      margin-left: 0;
    }

  .event-info, .sponsor, .speakers {
    max-width: 70em; 
  }

  .sponsor h3 {
    display: inline-block;
  }

  .hashtag {
    font-size: 6em;
  }

  .newsletter h2 {
      font-size: 2em;
      display: inline-block;
      margin-right: 0.5em;
  }

  .newsletter input[type="email"] {
    display: inline-block;
    width: inherit;
    width: 400px;
    font-size: 1.1em;
    margin-top: -25px;
    text-align: left;
  }

  .newsletter input[type="submit"] {
    font-size: 1.2em;
    text-align: center;
    height: 56px;
    margin-top: -25px;
  }

  .description p:first-child {
    max-width: 24em;
    margin-bottom: 0.25em;
    font-size: 1.75em;
    line-height: 1.5em;
  }

  .speak .button {
    background-color: #ff653f;
    color: #fff;
    width: auto;
    border: 1px solid white;
    overflow: hidden;
    font-size: 2em;
  }

  .past-events {
    padding: 0;
  }
    .past-events h2 {
      font-size: 4.125em;    
    }
    .past-events li {
      width: 30%;
      margin-right: 3.333%;
      margin-bottom: 2em;
    }
      
    .past-events li:nth-child(even) {
      margin-right: 3.333%;
    } 

    .past-events li:nth-child(3n+3)  {
      margin-right: 0;
    }
  
.lanyrd {
  border-top: 1px;
}
  
  input[type="email"] {
    display: inline-block;
    width: inherit;
    width: 240px;
  }
  
  .sponsor img {
    max-width: 160px;
    text-align: center;
  }

}


@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for high resolution devices */
}

@media print {
  * {
    background: transparent !important;
    color: #000 !important; /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links for images, or javascript/internal links
   */

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group; /* h5bp.com/t */
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100%;
  }

  .page {
    margin: 0.5cm;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {  
    page-break-after: avoid;
  }
}
