/*
 * CONTENTS
 */

/*

- Colour definitions
- Basic html
- Webfonts
- Helper classes
- Buttons
- Generic layout/width/alignment
- Header
- Speaker listings
- Social
- Sponsors
- About
- Past events
- Media queries

*/


/*
 * COLOURS
 */

/*

#F5D236 Yellow
#DF532D Red

*/



/*
 * BASIC HTML
 */

html,
button,
input,
select,
textarea {
  color: #222;
}

body {
  font-size: 1em;
  line-height: 1.4;
  color: #4d4547;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

img {
    vertical-align: middle;
}


fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}


a:link,
a:visited {
  color: #2ec6f5; 
  text-decoration: none;
}

a:hover,
a:active {
  color: #1aa9d5;
}

ul, li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

h1,h2,h3,h4,h5,h6,p {
  padding: 0;
  margin: 0;
}

h1,h2,h3,h4,h5,h6 {
  text-transform: uppercase;
  font-weight: normal;
}

h1 {
  text-transform: uppercase;
  font-size: 3em;
}

p {
  font-size: 0.938em;
  margin:0 0 1em 0;
}


input {
  font-size: 0.75em;
  width: 100%;
  border: none;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
     -moz-box-sizing: border-box;    /* Firefox, other Gecko */
          box-sizing: border-box;         /* Opera/IE 8+ */
  padding: 1em;
  margin-bottom: 0.75em;
  vertical-align: top;
}

/* 
 * WEBFONTS
 */

h1, h2, h3, h4, h5, h6,
input[type="submit"],
.header,
.button,
.league, 
.link-fat{
  font-family: "league-gothic", Arial Narrow, sans-serif;
  text-transform:uppercase;
}

body, 
p{
  font-family: "open-sans",sans-serif;
}


/*
 * HELPER CLASSES
 */

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
}

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 100%;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

  .visuallyhidden.focusable:active,
  .visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
  }

.invisible {
  visibility: hidden;
}

.clearfix:before,
.clearfix:after {
  content: " "; 
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}


/*
 * BUTTONS
 */

a.button,
.button,
input[type="submit"] {
  background-color: #2dc5f4;
  color: #fff;
  font-size: 1.313em; 
  text-transform: uppercase;
  padding: 0.28em 0.5em;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  
  -webkit-transition: .10s background ease-in-out;
     -moz-transition: .10s background ease-in-out;
          transition: .10s background ease-in-out;
}

.button.fat {
  padding: 0.125em 0.375em;
  font-size: 3em;
  display: inline-block;
  margin-bottom: 0.125em;

}


a:hover.button,
.button:hover,
input[type="submit"]:hover {
  background-color: #1aa9d5;
  -webkit-transition: .10s background ease-in-out;
       -moz-transition: .10s background ease-in-out;
            transition: .10s background ease-in-out;
}


a.link-fat {
  color: #2dc5f4;
  font-size: 3em;
  text-transform: uppercase;
  line-height: 1em;
  -webkit-transition: .10s color ease-in-out;
     -moz-transition: .10s color ease-in-out;
          transition: .10s color ease-in-out;
}

a:hover.link-fat {
  color: #1aa9d5;
  -webkit-transition: .10s color ease-in-out;
       -moz-transition: .10s color ease-in-out;
            transition: .10s color ease-in-out;
}


/*
 * GENERIC LAYOUT/WIDTH/ALIGNMENT
 */

.wrapper {
  margin: 0 auto;
  width: 90%;
  max-width: 61.5em;
  position: relative;
  text-align: center;
  overflow: hidden;
}

.event-info, .sponsor, .speakers{
  max-width: 30em;
  margin: 0 auto;
}

.lanyrd, .sponsor{
  padding: 0.750em;
}

.lanyrd{
  border-bottom: 1px dotted #ccc;
}
.vertically-padded{
  padding:4em 0;
}


/*
 * HEADER
 */

.header {
  background: #4D4547 url("../images/garrett_480.jpg");
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  text-align: center;
  color: #fff;
  padding: 1.125em 0;
}

  .header a {
    color: #fff;
  }
  .header a:hover{
    color: #DF532D
  }

  .tbx-link { 
    text-indent: -9999%;
    height: 28px;
    width: 120px;
    display: inline-block;
    background: transparent url("../images/torchbox-sprite.png") top left no-repeat;
    background-size: 120px 66px;
    margin: 0 auto 1em;
  }
  
  .tbx-link:hover {
    background-position-y: -37px;
  }

  .header .date-time,
  .header .venue {
    font-size: 1.875em;
  }

  .header .event-number {
    font-size: 5em;
    color: #F5D236;
    display: block;
    line-height: 0.8em;
  }


/*
 * SPEAKER LISTINGS
 */

.speakers li{
  border-bottom: 1px dotted #ccc;
  padding: 1em;
}
  .speakers p{
    margin:0;
  }
  .speakers a:link,
  .speakers a:visited {
    color: #DF532D;
  }

  .speakers a:hover,
  .speakers a:active {
    color: #c03510;
  }

  .speakers h2 {
    font-size: 2em;
    line-height: 1em;
  }
    .keynotes h2 {
      font-size: 3.125em;
    }

  .speakers a.button:link,
  .speakers a.button:visited { 
    background-color:  #DF532D;
    color: #fff;
  }

  .speakers a.button:hover,
  .speakers a.button:active { 
    background-color:  #c03510;
  }

.downloads {
  margin: 0.25em auto 0;
  height: 1em;
}
  .downloads a:link,
  .downloads a:visited {
    color: #4D4547;
    font-size: 0.75em;
    font-weight: bold;
    text-transform: uppercase;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
    background-color:#EDECED;
    padding:2px 5px;
    margin-right:5px;
  }

  .downloads a:hover,
  .downloads a:active {
    color: #000;
  } 


/*
 * SOCIAL 
 */

.connect {
  margin-top:3em;
  background-color: #edeced;
  padding: 0.75em 0;
}
  .connect li {
    display: inline-block;
    padding: 2%;
    line-height: 1em;
    vertical-align: middle;
  }

.hashtag {
  font-size: 4em;
  text-transform: uppercase;
}

.newsletter {
  margin: 0.750em;
  display: block;
}


/*
 * SPONSORS
 */
 
.sponsor h3{

}
.sponsor img {
  max-width: 140px;
  text-align: center;
  margin: 0 10px 0 0;
}

/*
 * ABOUT
 */

.about {
  background-color: #DE522C;
  color: #fff;
  padding: 1.5em 0;
}


.speak {
  font-size: 1.875em;
  margin-top: 0.375em;
}

.speak a {
  display: block; /* force a line break */
}

.speak a:link,
.speak a:visited {
  color: #4d4547;
}

.speak a:hover,
.speak a:active {
  color: #ffbead;
}


/*
 * PAST EVENTS
 */


.past-events {
  background-color: #4C4446;
  color: #fff;
}
  .past-events h2 {
    font-size: 3.125em;    
  }

  .past-events ul {
    font-size: 0;
    overflow: hidden;
    text-align: left;
    padding: 0 3.3%;
  }
    .past-events li {
      font-size: 16px;
      width: 100%;
      display: inline-block;
      color: #4d4547;
      text-align: center;
      margin-bottom: 0.75em;
      vertical-align: top;
      -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
             border-radius: 3px;
    }
  .past-events a {
    min-height:130px;
    color: #2ec6f5;
    padding: 0.75em;
    display: block;
    -webkit-transition: .10s color ease-in-out;
       -moz-transition: .10s color ease-in-out;
            transition: .10s color ease-in-out;
    background-color: #fff;
    background-color: rgba(255,255,255,0.95);

  }

    .past-events a:hover {
      color: #1aa9d5;
      -webkit-transition: .10s color ease-in-out;
           -moz-transition: .10s color ease-in-out;
                transition: .10s color ease-in-out;
        background-color: rgba(255,255,255,1);

    }

    .past-events .event-number {
      font-size: 3em;
      line-height:1em;
      display: block;
      color: #2DC5F4;
    }

    .past-events .speakers {
      font-size: 1.5em;
      display: block;
      overflow: hidden;
      width: 100%;
      color: #df532d;
      line-height: 1em;    
    }

    .past-events .date {
      color: #4d4547;
      font-size: 1.35em;
    }



/*
 * 404 page
 */
#downloadfound, #downloadnotfound{
  display:none;
}



/*
 * MEDIA QUERIES
 */

@media only screen and (min-width: 35em) {

  .header{
    background-image: url("../images/garrett.jpeg");
    background-position: center center;
    background-repeat: no-repeat;
  }

  .speakers h2{
    font-size: 2.5em;
  }
    .keynotes h2 {
      font-size: 4.125em;
    }

  .hashtag {
    font-size: 6em;
  }

  .past-events {
    padding: 0;
  }
    .past-events h2 {
      font-size: 4.125em;    
    }
    .past-events li {
      width: 30%;
      margin-right: 3.333%;
      margin-bottom: 1em;
    }
      
    .past-events li:nth-child(even) {
      margin-right: 3.333%;
    } 
  
  .speak a {
    display: inline; /* force a line break */
  }
  
  input[type="email"] {
    display: inline-block;
    width: inherit;
    width: 240px;
  }
  
  .button, input[type="submit"]{
    background-color: #2dc5f4;
    color: #fff;
    border: none;
    font-size: 1.313em;
    -moz-border-radius: 0.125em;
    -webkit-border-radius: 0.125em;
    text-transform: uppercase;
    display: inline-block;
    width: inherit;
  }
  
  .sponsor img {
    max-width: 200px;
    text-align: center;
  }

}


@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for high resolution devices */
}

@media print {
  * {
    background: transparent !important;
    color: #000 !important; /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links for images, or javascript/internal links
   */

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group; /* h5bp.com/t */
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100%;
  }

  .page {
    margin: 0.5cm;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {  
    page-break-after: avoid;
  }
}
